.header {
  background: #0d0f1e;
  color: #ffffff;
  padding: 20px 0;

  p {
    font-size: 25px;
    border-bottom: 4px solid #ff5e3a;
    display: inline-block;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 900;
  }
}
