<div class="footer">
    <div class="container">
        <p class="title">{{'Cyclix' | uppercase }}</p>
        <div class="footer-link">
            <p>Nutzungsbedingungen</p>
            <p>Datenschutz</p>
            <p>Impressum</p>
        </div>
        <div class="footer-social">
            <sup>FOLLOW CYCLIX</sup>
            <div class="footer-social-icon">
                <p><i class="bi bi-facebook"></i></p>
                <p><i class="bi bi-instagram"></i></p>
                <p><i class="bi bi-linkedin"></i></p>
            </div>
        </div>
    </div>
</div>