.stepper-section {
  margin: 100px 0;

  .title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .stepper-form {
    display: flex;
    flex-direction: column;
    background-color: #f7f4f3;
    padding: 50px;
    border-radius: 15px;
  }
}
.next-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  span{
    display: inline-flex;
    justify-content: center;
    background: #ff5e3a;
    border-radius: 50px;
    color: #fff !important;
    text-align: center;
    padding: 5px 10px;
  }
}
